new.json
{
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "jira-fetch",
          "responseMode": "responseNode",
          "options": {
            "allowedOrigins": "*"
          }
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          200,
          200
        ],
        "id": "webhook-jira-fetch",
        "name": "Webhook (jira-fetch)"
      },
      {
        "parameters": {
          "operation": "get",
          "issueKey": "={{ $json.body['Jira Story ID'] }}",
          "additionalFields": {}
        },
        "type": "n8n-nodes-base.jira",
        "typeVersion": 1,
        "position": [
          420,
          200
        ],
        "id": "jira-get-issue",
        "name": "Get Jira Issue",
        "credentials": {
          "jiraSoftwareCloudApi": {
            "id": "MGy397lFWUxtgM07",
            "name": "Jira SW Cloud account"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "req-field",
                "name": "requirements",
                "value": "={{ $json.fields.description }}",
                "type": "string"
              },
              {
                "id": "id-field",
                "name": "jiraStoryId",
                "value": "={{ $json.key }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          640,
          200
        ],
        "id": "format-response",
        "name": "Format Response for React"
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "firstIncomingItem",
          "options": {
            "responseHeaders": {
              "entries": [
                {
                  "name": "Access-Control-Allow-Origin",
                  "value": "*"
                }
              ]
            }
          }
        },
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.5,
        "position": [
          860,
          200
        ],
        "id": "respond-to-react",
        "name": "Respond to Webhook"
      }
    ],
    "connections": {
      "Webhook (jira-fetch)": {
        "main": [
          [
            {
              "node": "Get Jira Issue",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Jira Issue": {
        "main": [
          [
            {
              "node": "Format Response for React",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Format Response for React": {
        "main": [
          [
            {
              "node": "Respond to Webhook",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    }
  }